body {
    background-image: url("../img/fonds/cartoon-31.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

.panel {
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 19px;
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}

.title-color {
    color : #ff9007;
}

.map {
    border: 1px;
    border-style: dashed;
}

.map-global {
    height: 400px;
    width: 700px;
}

.map-fiche {
    height: 300px;
    width: 100%;
}

.postmetadata {
    color : whitesmoke;
}

.img-producteur1 { background-image:url("../img/photos/producteur-poterie.jpg");  width: 330px; height: 250px; background-size: 330px, 250px; margin-bottom: 40px;}
.img-producteur2 { background-image:url("../img/photos/producteur-apiculteur.jpg");  width: 330px; height: 250px; background-size: 330px, 250px; margin-bottom: 40px;}
.img-producteur3 { background-image:url("../img/photos/producteur-serre.png");  width: 330px; height: 450px; background-size: 330px, 450px; margin-bottom: 40px;}
.img-producteur4 { background-image:url("../img/photos/producteur-oie.png");  width: 330px; height: 250px; background-size: 330px, 250px; margin-bottom: 40px;}

.icon-magasin {
    background-image:url("../img/icon/magasin.png");
    background-size: 70px;
    height: 70px;
    width: 70px;
}
.icon-producteurs {
    background-image:url("../img/icon/producteurs.png");
    background-size: 70px;
    height: 70px;
    width: 70px;
}
.icon-produits {
    background-image:url("../img/icon/produits.png");
    background-size: 70px;
    height: 70px;
    width: 70px;
}
.icon-facebook {
    background-image:url("../img/icon/facebook.png");
    background-size: 30px;
    height: 30px;
    width: 30px;
}

.icon-30 {
     background-size: 30px;
     width : 30px;
     height : 30px;
     float : left;
     position: relative;
     bottom: 5px;
     margin-right: 5px;
 }

.icon-50 {
    background-size: 50px;
    width : 50px;
    height : 50px;
    float : left;
    position: relative;
    bottom: 15px;
    margin-right: 5px;
}

.icon-cochon { background-image:url("../img/icon/cochon-50.png"); }
.icon-vache { background-image:url("../img/icon/vache-50.png"); }
.icon-volaille { background-image:url("../img/icon/volaille-50.png"); }
.icon-legume { background-image:url("../img/icon/legume-50.png"); }
.icon-boulangerie { background-image:url("../img/icon/boulangerie-50.png"); }
.icon-cafe { background-image:url("../img/icon/cafe-50.png"); }
.icon-epice { background-image:url("../img/icon/epice-50.png"); }
.icon-fromage { background-image:url("../img/icon/fromage-50.png"); }
.icon-confiture { background-image:url("../img/icon/confiture-50.png"); }
.icon-vin { background-image:url("../img/icon/vin-50.png"); }
.icon-poisson { background-image:url("../img/icon/poisson-50.png"); }
.icon-conserve { background-image:url("../img/icon/conserve-50.png"); }
.icon-divers { background-image:url("../img/icon/divers-50.png"); }
.icon-mouton { background-image:url("../img/icon/mouton-50.png"); }

div.wpcf7-validation-errors {
    border: 0px;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 10px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 10px;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.line p {
    margin-left: 40px;
    margin-top: 40px;
}

span {
    font-size: 120%;
    margin-left: 5px;
}