body {
    /*background-image: url('../img/fonds/photo-epis.jpeg');*/
    background-image: url("../img/fonds/cartoon-31.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

html {
    margin-top: 0px;
}

.panel {
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 19px;
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}

.title-color {
    /* font-family: 'Pacifico', cursive; */
    color : #ff9007;
}

.map {
    border: 1px;
    border-style: dashed;
}

.map-global {
    height: 400px;
    width: 700px;
}

.map-fiche {
    height: 300px;
    width: 100%;
}

.postmetadata {
    color : whitesmoke;
}

.img-genese { content:url("../img/photos/genese.jpg"); }
.img-legume { content:url("../img/photos/legumes.jpg");  }
.img-boucherie { content:url("../img/photos/boucherie.jpg");  }

.img-producteur1 { content:url("../img/photos/producteur-poterie.jpg");  }
.img-producteur2 { content:url("../img/photos/producteur-apiculteur.jpg");  }
.img-producteur3 { content:url("../img/photos/producteur-serre.png");  }
.img-producteur4 { content:url("../img/photos/producteur-oie.png");  }

.icon-magasin { content:url("../img/icon/magasin.png"); }
.icon-producteurs { content:url("../img/icon/producteurs.png"); }
.icon-produits { content:url("../img/icon/produits.png"); }
.icon-facebook { content:url("../img/icon/facebook.png"); width: 30px; }

.icon-cochon { content:url("../img/icon/cochon-50.png"); }
.icon-vache { content:url("../img/icon/vache-50.png"); }
.icon-volaille { content:url("../img/icon/volaille-50.png"); }
.icon-legume { content:url("../img/icon/legume-50.png"); }
.icon-boulangerie { content:url("../img/icon/boulangerie-50.png"); }
.icon-cafe { content:url("../img/icon/cafe-50.png"); }
.icon-epice { content:url("../img/icon/epice-50.png"); }
.icon-fromage { content:url("../img/icon/fromage-50.png"); }
.icon-confiture { content:url("../img/icon/confiture-50.png"); }
.icon-vin { content:url("../img/icon/vin-50.png"); }
.icon-poisson { content:url("../img/icon/poisson-50.png"); }
.icon-conserve { content:url("../img/icon/conserve-50.png"); }
.icon-divers { content:url("../img/icon/divers-50.png"); }
.icon-mouton { content:url("../img/icon/mouton-50.png"); }

.icon-cochon-30 { content:url("../img/icon/cochon-50.png"); width: 30px;}
.icon-vache-30 { content:url("../img/icon/vache-50.png"); width: 30px;}
.icon-volaille-30 { content:url("../img/icon/volaille-50.png"); width: 30px;}
.icon-legume-30 { content:url("../img/icon/legume-50.png"); width: 30px;}
.icon-boulangerie-30 { content:url("../img/icon/boulangerie-50.png"); width: 30px;}
.icon-cafe-30 { content:url("../img/icon/cafe-50.png"); width: 30px;}
.icon-epice-30 { content:url("../img/icon/epice-50.png"); width: 30px;}
.icon-fromage-30 { content:url("../img/icon/fromage-50.png"); width: 30px;}
.icon-confiture-30 { content:url("../img/icon/confiture-50.png"); width: 30px;}
.icon-vin-30 { content:url("../img/icon/vin-50.png"); width: 30px;}
.icon-poisson-30 { content:url("../img/icon/poisson-50.png"); width: 30px;}
.icon-conserve-30 { content:url("../img/icon/conserve-50.png"); width: 30px;}
.icon-divers-30 { content:url("../img/icon/divers-50.png"); width: 30px;}
.icon-mouton-30 { content:url("../img/icon/mouton-50.png"); width: 30px;}

div.wpcf7-validation-errors {
    border: 0px;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 10px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 10px;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}